// Font
@import "bootstrap/scss/functions";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/variables";

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;900&display=swap");
$font-family-base: "Montserrat", sans-serif;

// Breakpoints
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
  xxxl: 1600px,
) !default;
$spacer: 1rem;

// Colors
$secondary: #23a6f0;
$white: #fff;
$dark: #000;
$body-bg: $white;

// scss-docs-start theme-colors-map
$theme-colors: map-merge(
  $theme-colors, 
  (
    "gray": #FAFAFA,
    "dark-blue": #252B42
  )
);

//font sizes
$font-sizes: map-merge(
  $font-sizes,
  (
    7: $font-size-base * 0.8,
  )
);

//shadow
$box-shadow: 0px 8px 13px rgba(0, 0, 0, 0.07);


// spacing
$spacers: map-merge($spacers, 
  (
    6: $spacer * 3.5,
    7: $spacer * 4,
    8: $spacer * 5,
    9: $spacer * 5.5,
    10: $spacer * 6,
  )
)